/* 
Transtion 0 = 100%
from start state to end state
ANIMATION 0 1% 2% .... 100%
 multiple states
*/

div {
  width: 200px;
  height: 200px;
  color: white;
  margin: 20px;
}

.transition {
  background: red;
  transition: all 2s linear;
}

.transition:hover {
  background: blue;
  transform: translateX(200px);
}

.animation {
  background: blue;
  /* animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 3; */
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    background: red;
    transform: translateX(50px);
  }
  50% {
    background: green;
    transform: translateX(200px);
  }
  75% {
    background: fuchsia;
    transform: translateX(-200px);
  }
  100% {
    background: aqua;
    transform: translateX(50px);
  }
}
