/* Selectors Re-Visited - Descendant and Child Selectors */

.header h1 {
  color: green;
}

/* direct child */
.header > h1 {
  color: fuchsia;
}

div h1 {
  color: red;
}

/* direct child */
div > h1 {
  color: blue;
}
