/* 
 VSCODE OPTIONS
*/


#first {
    color: hsla(60, 100%, 51%, 0.950);
    background: #000;
}

#second {
    color: hwb(0 100% 0%);
    background: hsl(120, 100%, 50%);
}

#third {
    color: rgb(0, 0, 255);
    background: #ff2a00;
}

#fourth {
    color: #f234ad;
    background: #222;
}